<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Tarusa system | Изменение расхода</title>
    <link type="text/css" rel="stylesheet" href={% static 'bootstrap-select.css' %}>
    <link rel="stylesheet" href={% static 'bootstrap.min.css' %}>
    <style>
        a:visited {
            text-decoration: none;
            color: white;
        }
        a {
            color: white;
        }
        a:hover {
            text-decoration: underline;
            color: white;
        }

        a:active {
            text-decoration: underline;
            color: white;
        }
        input {
            margin-top: 10px
        }
        div .dropdown {
            margin-top: 10px
        }
        label {
 border: 1px solid #ced4da;
 border-radius: .25rem;
 padding:5px;
 margin:0 0 10px;
 display:block;
}

label:hover {
 background:#eee;
 cursor:pointer;
}
    </style>
</head>
<body>
    <div style="height: 70px; background-color: steelblue">
        <a href="/"><div style="width: 40%; float: left; height: 70px">
            <p style="font-family: 'Helvetica Neue'; font-size: 30px; color: white; padding-left:50px; vertical-align: middle; line-height: 70px; ">Tarusa system</p>
        </div></a>
        {% if user.is_authenticated %}
        <div style="float: right; width: 100px; height: 100%; color: white">
                <div style="float: left; font-size: 25px; vertical-align: middle; line-height: 70px;" ><a href="/logout/">Выход</a></div>
        </div>
        {% else %}
        <div style="float: right; width: 100px; height: 100%; color: white">
            <div style="float: left; font-size: 25px; padding: 14px;"><a href="/login/">Вход</a></div>
        </div>
        {% endif %}
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-xs">
            <h1>Изменение расхода</h1>
            <br>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-left: 20px">
        <div class="col-3">
            <form enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                <strong>Заказ №</strong>
                <select class="selectpicker form-control" data-live-search="true" name="number" id="id_number">
                    {% for order in orders %}
                        {% if order == expense.part_of_expense.service.order %}
                            <option selected>{{ order.number }}</option>
                        {% else %}
                            <option>{{ order.number }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <strong>Услуга</strong>
                <select class="selectpicker form-control" data-live-search="true" name="service" id="id_service">
                    {% for service in services %}
                        {% for part in service.expense.all %}
                            {% if part == expense.part_of_expense %}
                                <option selected value="{{ part.service.name }}_{{ part.name }}">{{ part.name }}</option>
                            {% else %}
                                <option value="{{ part.service.name }}_{{ part.name }}">{{ part.name }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
                <strong>Сумма</strong><br>
                <input value="{{ expense.money }}" class="form-control" name="money"><input name="currency" value="{{ expense.currency }}" class="form-control">
                <strong>Комментарий</strong><br>
                <input name="comment" class="form-control" value="{{ expense.comments }}"><br>
                <label><input type="checkbox" name="delete" id="delete" /> Удалить расход</label>
                <br>
                <button type="submit" class="btn btn-link" style="border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186); width: 100%" >Изменить расход</button>
            </form>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src={% static 'bootstrap.min.js' %}></script>
<script src={% static 'bootstrap-select.js' %}></script>
<script>
      $(document).ready(function () {
        $('.selectpicker').selectpicker();
      });
    $("#id_number").change(function () {
            var number = $(this).val();
            $.ajax({
                url: '/load_expenses1/',
                data: {number: number},
                type: 'get',
                success: function(data) {
                    $("#id_service").html(data).selectpicker('refresh');
                   },
            });
    })
</script>
</html>