<tr id="search">
    <td>
        <label>От</label><input type="date" id="from_date" class="s">
        <label>До</label><input type="date" id="to_date" class="s">
    </td>
    <td>
        <select id="way_s" class="s">            <option>-</option>            <option>Bank</option>            <option>Cash</option>            <option>6tour</option>            <option>Card</option>        </select>
    </td>
    <td><input style="width: 70px" id="number_s" class="s"></td>
    <td><input style="width: 70px" id="number_n_s" class="s"></td>
    <td><input style="width: 80px" placeholder="От" id="sum_start" class="s"><input placeholder="До" style="width: 80px" id="sum_end" class="s"></td>
    <td><input style="width: 100%" id="name_s" class="s"></td>
    <td><input style="width: 100%" id="month_s" class="s"></td>
</tr>